PORT=3001

ZG_RPC_URL=https://evmrpc-testnet.0g.ai
ZG_CHAIN_ID=16602

DEPLOYER_PRIVATE_KEY=

# ANTHROPIC_API_KEY=
# REALITY_DEFENDER_API_KEY=
# ZG_STORAGE_INDEXER_RPC=https://indexer-storage-testnet-turbo.0g.ai